body {
	background: #82ef82;
	margin: 0;
	padding: 0;
}

#game-wrapper {
	width: 1024px;	
	height: 100%;
	padding: 25px;
	margin: 0 auto 0;
	background: white;
}
#scoreboard {
	position: relative;
	text-align: center;
}

#scoreboard img {

}

#game-field {
	margin: auto;
	width: 100%;
	background: url('images/football-field.png') no-repeat center;
	background-size: contain;
}

#home-score, #guest-score, #current-down, #yards-to-go {
	position: absolute;
	font-size: 48px;
	color: gold;
}

#home-score { top: 100px; left: 205px;}
#guest-score { top: 100px; right: 205px;}
#current-down { bottom: 30px; left: 230px;}
#yards-to-go { bottom: 25px; right: 245px;}